.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 100px;
}

.divCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1px;
    height: 30rem;
    width: 15rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.322);
}

.imagen{
    width: 30rem;
    height: 30rem;
}

.h2Servicio{
   font-size : 3rem;
}

.pServicio{
    font-size : 3rem;
 }

.btncarrito{
    background-color:palevioletred;
    width: 5rem;
    height: 5rem;
}
 
.enviar {
   text-align: center;
   padding: 5px 2px;
font-size: 3rem;
margin: 2rem;
background-color:palevioletred;
}

.mensaje {
    text-align: center;
    padding: 5px 2px;
 font-size: 3rem;
 margin: 2rem;
 }

 .celular {
    text-align: center;
    padding: 5px 2px;
 font-size: 3rem;
 margin: 2rem;
 }

 .correo {
    text-align: center;
    padding: 5px 2px;
 font-size: 3rem;
 margin: 2rem;
 }


