.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 100px;
}

.divCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1px;
    height: 30rem;
    width: 15rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.322);
}

.divImg{
    height: 50%;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-carrito{
    background-color:palevioletred;
}
 
.enviar {
   text-align: center;
   padding: 5px 2px;
font-size: 3rem;
margin: 2rem;
}

.mensaje {
    text-align: center;
    padding: 5px 2px;
 font-size: 3rem;
 margin: 2rem;
 }

 .celular {
    text-align: center;
    padding: 5px 2px;
 font-size: 3rem;
 margin: 2rem;
 }

 .correo {
    text-align: center;
    padding: 5px 2px;
 font-size: 3rem;
 margin: 2rem;
 }


